
        .c {
            width: 82%;
            -moz-animation: c 2.50017540242s ease;
            -webkit-animation: c 2.50017540242s ease;
        }
        @-moz-keyframes c {
          0%   { width: 0px;  }
          82% { width: 82%;  }
        }
        @-webkit-keyframes c {
          0%   { width: 0px;  }
          82% { width: 82%;  }
        }
        
        .git {
            width: 94%;
            -moz-animation: git 4.13848934081s ease;
            -webkit-animation: git 4.13848934081s ease;
        }
        @-moz-keyframes git {
          0%   { width: 0px;  }
          94% { width: 94%;  }
        }
        @-webkit-keyframes git {
          0%   { width: 0px;  }
          94% { width: 94%;  }
        }
        
        .python {
            width: 98%;
            -moz-animation: python 2.94664889663s ease;
            -webkit-animation: python 2.94664889663s ease;
        }
        @-moz-keyframes python {
          0%   { width: 0px;  }
          98% { width: 98%;  }
        }
        @-webkit-keyframes python {
          0%   { width: 0px;  }
          98% { width: 98%;  }
        }
        
        .django {
            width: 87%;
            -moz-animation: django 1.75035549203s ease;
            -webkit-animation: django 1.75035549203s ease;
        }
        @-moz-keyframes django {
          0%   { width: 0px;  }
          87% { width: 87%;  }
        }
        @-webkit-keyframes django {
          0%   { width: 0px;  }
          87% { width: 87%;  }
        }
        
        .ansible {
            width: 90%;
            -moz-animation: ansible 3.43545525006s ease;
            -webkit-animation: ansible 3.43545525006s ease;
        }
        @-moz-keyframes ansible {
          0%   { width: 0px;  }
          90% { width: 90%;  }
        }
        @-webkit-keyframes ansible {
          0%   { width: 0px;  }
          90% { width: 90%;  }
        }
        
        .jenkins {
            width: 93%;
            -moz-animation: jenkins 3.5297404772s ease;
            -webkit-animation: jenkins 3.5297404772s ease;
        }
        @-moz-keyframes jenkins {
          0%   { width: 0px;  }
          93% { width: 93%;  }
        }
        @-webkit-keyframes jenkins {
          0%   { width: 0px;  }
          93% { width: 93%;  }
        }
        